<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include ('partials/head', {title, meta, og, twitter, schema, canonical}) %>

<body>
  <!--Start Header -->
  <%- include ('partials/header') %>
  <!--End Header -->

  <!--Breadcrumb Area-->
  <section class="breadcrumb-area banner-2">
    <div class="text-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-center">
            <div class="bread-inner">
              <div class="bread-menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="blog-grid.html">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Breadcrumb Area-->
  <!--Start Blog Details-->
  <section class="blog-page pad-tb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-header">
            <h1><%= blog.name %></h1>
          </div>
          <!-- <div class="image-set"><img src="<%= blog.featuredImage %>" alt="blog images" class="img-fluid" /></div> -->
          <div class="blog-content mt30">
            <%- blog.postBody %>

            <div class="row">
              <!-- <div class="col-lg-8 col-md-8 mt30 mb30">
                <div class="blog-post-tag">
                  <span>Releted Tags</span>
                  <a href="#">Web Design</a>
                  <a href="#">Marketing</a>
                  <a href="#">SEO</a>
                </div>
              </div> -->
              <div class="col-lg-4 col-md-4 mt30 mb30">
                <div class="blog-share-icon text-left text-md-right">
                  <span>Share: </span>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-vimeo-v"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="author-block">
            <div class="media">
              <div class="user-image"><img src="/images/user-thumb/girl.jpg" alt="girl" class="img-fluid" /></div>
              <div class="media-body user-info">
                <h5 class="mb10">Sasa Smile</h5>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                  odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                  fringilla. Donec lacinia
                  congue felis in faucibus.
                </p>
              </div>
            </div>
          </div> -->
          <div class="comments-block mt60">
            <h2 class="mb60">Comments:</h2>
            <% if (blog.comments && blog.comments.length > 0) { %>
              <% blog.comments.forEach(function(comment) { %>
                <div class="media">
                  <!-- <div class="user-image"><img src="/images/user-thumb/user3.jpg" alt="girl" class="img-fluid" /></div> -->
                  <div class="media-body user-info  w-100">
                    <h5 class="mb10">
                      <%= comment.userName %> <small>says:</small>
                      <span>
                        <%= comment.createdAt %> <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                      </span>
                    </h5>
                    <p><%= comment.comment %></p>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
                <p>No comments available.</p>
            <% } %>
            <!-- <div class="media">
              <div class="user-image"><img src="/images/user-thumb/user3.jpg" alt="girl" class="img-fluid" /></div>
              <div class="media-body user-info">
                <h5 class="mb10">
                  Petey Cruiser <small>says:</small>
                  <span>
                    November 29, 2019 <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                  </span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry’s standard dummy text ever since the 1500.</p>
              </div>
            </div> -->
            <!-- <div class="media replied">
              <div class="user-image"><img src="/images/user-thumb/user3.jpg" alt="girl" class="img-fluid" /></div>
              <div class="media-body user-info">
                <h5 class="mb10">
                  Petey Cruiser <small>says:</small>
                  <span>
                    November 29, 2019 <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                  </span>
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry’s standard dummy text ever.</p>
              </div>
            </div>
            <div class="media">
              <div class="user-image bdr-radius"><img src="/images/user-thumb/user3.jpg" alt="girl" class="img-fluid" />
              </div>
              <div class="media-body user-info">
                <h5 class="mb10">
                  Petey Cruiser <small>says:</small>
                  <span>
                    May 25, 2020 <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                  </span>
                </h5>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              </div>
            </div> -->
            <div class="form-block form-blog mt60">
              <form id="commentForm">
                <input type="hidden" name="id" value="<%= blog.id %>"> <!-- Replace with your blogPostId -->
                <input type="hidden" name="title" value="<%= blog.name %>"> <!-- Replace with your blogPostId -->
                <div class="fieldsets row">
                  <div class="col-md-6"><input type="text" placeholder="Name" name="userName" /></div>
                  <div class="col-md-6"><input type="email" placeholder="Email" name="userEmail" /></div>
                </div>
                <div class="fieldsets"><textarea placeholder="Write Your Comment" name="comment"></textarea></div>
                <div class="fieldsets mt10">
                  <button type="submit" name="#" class="btn-main bg-btn lnk">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--End Blog Details-->
        <!--Start Sidebar-->
        <div class="col-lg-4">
          <div class="sidebar">
            <!--Start block for offer/ads-->
            <!-- <div class="offer-image">
              <img src="/images/blog/strategy-guide.jpg" alt="offer" class="img-fluid" />
            </div> -->
            <!--End block for offer/ads-->
            <!--Start Recent post-->
            <div class="recent-post widgets mt60">
              <h3 class="mb30">Recent post</h3>
              
              <!-- recent posts -->
              <% if (recent_blogs && recent_blogs.length > 0) { %>
                  <% recent_blogs.forEach(function(blog) { %>
                    <div class="media">
                      <div class="post-image bdr-radius">
                        <a href="<%= blog.url %>"><img src="<%= blog.featuredImage %>" alt="<%= blog.name %>" class="img-fluid" /></a>
                      </div>
                      <div class="media-body post-info">
                        <h5><a href="<%= blog.url %>"><%= blog.name %></a></h5>
                        <p><%= blog.created %></p>
                      </div>
                    </div>
                  <% }); %>
              <% } else { %>
                  <p>No recent blogs available.</p>
              <% } %>
            </div>
            <!--Start Recent post-->
            <!--Start Blog Category-->
            <!-- <div class="recent-post widgets mt60">
              <h3 class="mb30">Blog Category</h3>
              <div class="blog-categories">
                <ul>
                  <li>
                    <a href="#">Business <span class="categories-number">(2)</span></a>
                  </li>
                  <li>
                    <a href="#">Financial <span class="categories-number">(3)</span></a>
                  </li>
                  <li>
                    <a href="#">Uncategorized <span class="categories-number">(4)</span></a>
                  </li>
                  <li>
                    <a href="#">Web Design <span class="categories-number">(3)</span></a>
                  </li>
                  <li>
                    <a href="#">WordPress <span class="categories-number">(5)</span></a>
                  </li>
                </ul>
              </div>
            </div> -->
            <!--End Blog Category-->
            <!--Start Tags-->
            <!-- <div class="recent-post widgets mt60">
              <h3 class="mb30">Most Used Tags</h3>
              <div class="tabs">
                <a href="#">webdesign</a>
                <a href="#">design </a>
                <a href="#">graphicdesign </a>
                <a href="#">website </a>
                <a href="#">marketing </a>
                <a href="#">branding </a>
                <a href="#">webdevelopment </a>
                <a href="#">webdesigner </a>
                <a href="#">graphicdesign </a>
                <a href="#">website </a>
                <a href="#">marketing </a>
                <a href="#">branding </a>
              </div>
            </div> -->
            <!--End Tags-->
            <!--Start block for offer/ads-->
            <!-- <div class="offer-image mt60">
              <img src="/images/blog/sidebar-image.jpg" alt="offer" class="img-fluid" />
            </div> -->
            <!--End block for offer/ads-->
          </div>
        </div>
        <!--End Sidebar-->
      </div>
    </div>
  </section>

  <!--Start Enquire Form-->
	<!-- <section class="enquire-form pad-tb">
		<div class="container">
			<div class="row light-bgs">
				<div class="col-lg-6">
					<div class="common-heading text-l">
						<span>Contact Now</span>
						<h2 class="mt0">Have Question? Write a Message</h2>
					</div>
					<div class="form-block">
						<form action="#" method="post" name="feedback-form">
							<div class="fieldsets row">
								<div class="col-md-6"><input type="text" placeholder="Full Name" name="name"></div>
								<div class="col-md-6"><input type="email" placeholder="Email Address" name="email">
								</div>
							</div>
							<div class="fieldsets row">
								<div class="col-md-6"><input type="number" placeholder="Contact Number" name="phone">
								</div>
								<div class="col-md-6"><input type="text" placeholder="Subject" name="subject"></div>
							</div>
							<div class="fieldsets"><textarea placeholder="Message" name="message"></textarea></div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked="checked">
								<label class="custom-control-label" for="customCheck">I agree to the <a href="javascript:void(0)">Terms &amp; Conditions</a> of Business Name.</label>
							</div>
							<div class="fieldsets mt20"> <button type="submit" name="submit" class="lnk btn-main bg-btn">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button> </div>
							<p class="trm"><i class="fas fa-lock"></i>We hate spam, and we respect your privacy.</p>
						</form>
					</div>
				</div>
				<div class="col-lg-6 v-center">
					<div class="enquire-image">
						<img src="/images/about/contact.png" alt="enquire" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--End Enquire Form-->

  <!--Start Footer-->
  <%- include('partials/footer', { recent_blogs: recent_blogs }) %>
  <!--End Footer-->

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src="/js/dark-mode.js"></script>
  <!--common script file-->
  <script src="/js/main.js"></script>
  <script>
        document.getElementById('commentForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = new FormData(event.target);

      const commentData = {
        id: formData.get('id'),
        title: formData.get('title'),
        userEmail: formData.get('userEmail'),
        userName: formData.get('userName'),
        comment: formData.get('comment'),
      };

      try {
        const response = await fetch('/add-comment', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(commentData),
        });

        if (response.ok) {
          const result = await response.json();
          alert('Comment added successfully!');
          console.log(result);
        } else {
          throw new Error('Failed to add comment');
        }
      } catch (error) {
        console.error('Error:', error.message);
        alert('There was an error adding your comment. Please try again.');
      }
    });

  </script>
</body>

</html>