<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include ('partials/head', {title, meta, og, twitter, schema, canonical}) %>

<body>
  <!--Start Header -->
  <%- include ('partials/header') %>
  <!--End Header -->

  <!--Breadcrumb Area-->
  <section class="breadcrumb-area banner-2">
    <div class="text-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-center">
            <div class="bread-inner">
              <div class="bread-menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              <div class="bread-title">
                <h2>Blog</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Breadcrumb Area-->
  <!--Start Blog Grid-->
  <section class="blog-page pad-tb pt40">
    <div class="container">
      <div class="row blog-lists">
        <% if (blogs && blogs.length > 0) { %>
          <% blogs.forEach(function(blog) { %>
            <div class="col-lg-4 col-sm-6 single-card-item">
              <div class="isotope_item hover-scale">
                <div class="item-image">
                  <a href="<%= blog.slug %>"><img src="<%= blog.featuredImage %>" alt="<%= blog.name %>" class="img-fluid" /> </a>
                  <span class="category-blog">
                    <% if (blog.tags && blog.tags.length > 0) { %>
                      <% blog.tags.forEach(function(tag) { %>
                        <a href="#"><%= tag.name %></a>
                      <% }); %>
                    <% } %>
                  </span>
                </div>
                <div class="item-info blog-info">
                  <div class="entry-blog">
                    <span class="bypost"><a href="#"><i class="fas fa-user"></i> <%= blog.authorName %></a></span>
                    <span class="posted-on">
                      <a href="#"><i class="fas fa-clock"></i> <%= blog.created %></a></a>
                    </span>
                    <!-- <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span> -->
                  </div>
                  <h4><a href="#"><%= blog.name %></a></a></h4>
                  <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                </div>
              </div>
            </div>    
          <% }); %>
        <% } else { %>
            <p>No blogs available.</p>
        <% } %>
        <!-- <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-1.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">iOs</a> <a href="#">Android</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">Stock Market App Development - Time, Cost, Features</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-2.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">iOs</a> <a href="#">Android</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">Finance App Development - Time, Cost, Features</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-3.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">Marketing</a> <a href="#">SEM</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">How to Increase Your ROI Through scientific SEM?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-4.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">Marketing</a> <a href="#">SEO</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">How to Increase Website Traffic Using SEO</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-5.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">Marketing</a> <a href="#">SEO</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">How digital transformation has changed the world.</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 single-card-item">
          <div class="isotope_item hover-scale">
            <div class="item-image">
              <a href="#"><img src="images/blog/blog-6.webp" alt="blog" class="img-fluid" /> </a>
              <span class="category-blog"><a href="#">Marketing</a> <a href="#">SEO</a></span>
            </div>
            <div class="item-info blog-info">
              <div class="entry-blog">
                <span class="bypost"><a href="#"><i class="fas fa-user"></i> Tom Black</a></span>
                <span class="posted-on">
                  <a href="#"><i class="fas fa-clock"></i> Sep 24, 2019</a>
                </span>
                <span><a href="#"><i class="fas fa-comment-dots"></i> (23)</a></span>
              </div>
              <h4><a href="#">How digital transformation has changed the world.</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!--End Blog Grid-->

  <!--Start Footer-->
  <%- include('partials/footer', { recent_blogs: recent_blogs }) %>
  <!--End Footer-->

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/plugin.min.js"></script>
  <script src="js/dark-mode.js"></script>
  <!--common script file-->
  <script src="js/main.js"></script>
</body>

</html>