<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<link rel="preload" as="image" href="images/hero/hero-image-download.png" type="image/png" />
	<link rel="preload" href="images/about/about-image-download.webp" as="image" />
</head>


<%- include ('partials/head', {title, meta, og, twitter, schema, trackingId}) %>

<body>
	<!--Start Preloader -->
	<div class="onloadpage" id="page_loader">
		<div class="pre-content">
			<div class="logo-pre"><img src="images/logo.webp" alt="Logo" class="img-fluid" /></div>
			<div class="pre-text- text-radius text-light text-animation bg-b">Dadword IT - Leading Web Development Agency Are 2 Seconds Away. Have Patience</div>
		</div>
	</div>
	<!--End Preloader -->
    
	<!--Start Header -->
	<%- include ('partials/header') %>
	<!--End Header -->

	<!--Start Hero-->
	<section class="hero-section hero-bg-bg1 bg-gradient dark-bg1">
		<div class="text-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 v-center">
						<div class="header-heading">
							<h1 class="wow fadeInUp" data-wow-delay=".2s">Leading Web Development Agency</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">We combine creativity and technology to develop high-quality web solutions that engage users and elevate your brand.</p>
							<a href="/contact-us" class="btn-main bg-btn lnk wow fadeInUp" data-wow-delay=".6s">Let's Discuss
								<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
					</div>
					<div class="col-lg-6 v-center">
						<div class="single-image wow fadeIn" data-wow-delay=".5s">
							<img src="images/hero/hero-image-download.png" alt="web development" class="img-fluid" width="800" height="600" fetchpriority="high" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Hero-->

	<!--Start About-->
	<section class="about-agency pad-tb">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 v-center">
					<div class="image-block">
						<img src="images/about/about-image-download.webp" alt="about" class="img-fluid no-shadow" fetchpriority="high" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="common-heading text-l">
						<span>We Are Creative Agency</span>
						<h2>About Agency</h2>
						<p>At Dadword IT Agency, we specialize in crafting exceptional web design and development solutions tailored to meet your unique needs. From custom website development to SaaS-based platforms, our expert team combines creativity, innovation, and technical expertise to deliver user-friendly and scalable digital experiences. With a focus on quality and client satisfaction, we help businesses transform their ideas into impactful online solutions that drive growth and success. </p>
						<p class="quote">At Dadword IT, our mission is to turn ideas into reality with innovation, precision, and dedication. We strive to empower businesses with cutting-edge digital solutions that make a lasting impact.</p>
						<div class="user- mt30">
							<div class="media">
								<div class="user-image bdr-radius"><img src="images/user-thumb/prince-boghara.webp" alt="girl"
										class="img-fluid" /></div>
								<div class="media-body user-info v-center">
									<h5>Prince Boghara.</h5>
									<p>Founder of <span>Dadword IT</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End About-->

	<!--Start Service-->
	<section class="service-section web-servic pad-tb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="common-heading">
						<span>Services We’re Provided</span>
						<h2 class="mb30">Our Design & Development Services</h2>
					</div>
				</div>
			</div>
			<div class="row upset link-hover shape-num justify-content-center">
				<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.2s">
					<div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
						<div class="s-card-icon"><img src="images/icons/branding.svg" alt="service" class="img-fluid" />
						</div>
						<h4>Logo & Branding Service</h4>
						<p>Crafting unique and professional logos that embody your brand identity.</p>
						<a href="service-web.html">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.4s">
					<div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
						<div class="s-card-icon"><img src="images/icons/development.svg" alt="service"
								class="img-fluid" /></div>
						<h4>Website Design & Development</h4>
						<p>Delivering beautiful, functional, and user-centric websites for your business.</p>
						<a href="service-web.html">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.8s">
					<div class="s-block mb0" data-tilt data-tilt-max="5" data-tilt-speed="1000">
						<div class="s-card-icon"><img src="images/icons/marketing.svg" alt="service" class="img-fluid" /></div>
						<h4>Digital Marketing Service</h4>
						<p>Driving online growth with targeted strategies for SEO, social media, and advertising.</p>
						<a href="service-web.html">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
					</div>
				</div>
			</div>
			<div class="-cta-btn mt70">
				<div class="free-cta-title v-center wow zoomInDown" data-wow-delay=".9s">
					<p>Hire a <span>Dedicated Developer</span></p>
					<a href="/contact-us" class="btn-main bg-btn2 lnk">Hire Now<i class="fas fa-chevron-right fa-icon"></i><span
							class="circle"></span></a>
				</div>
			</div>
		</div>
	</section>
	<!--End Service-->

	<!--Start statistics-->
	<div class="statistics-section bg-gradient pad-tb tilt3d">
		<div class="container">
			<div class="row justify-content-center t-ctr">
				<div class="col-lg-4 col-sm-6">
					<div class="statistics">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/startup.svg" alt="years" class="img-fluid" />
						</div>
						<div class="statnumb">
							<span class="counter">5</span><span>+</span>
							<p>Year In Business</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="statistics">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/team.svg" alt="team" class="img-fluid" />
						</div>
						<div class="statnumb">
							<span class="counter">10</span><span>+</span>
							<p>Team Members</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row small t-ctr">
				<div class="col-lg-3 col-sm-6">
					<div class="statistics">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/deal.svg" alt="happy" class="img-fluid" />
						</div>
						<div class="statnumb">
							<span class="counter">20</span>
							<p>Happy Clients</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="statistics">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/computers.svg" alt="project" class="img-fluid" />
						</div>
						<div class="statnumb counter-number">
							<span class="counter">50</span>
							<p>Projects Done</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="statistics">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/worker.svg" alt="work" class="img-fluid" />
						</div>
						<div class="statnumb">
							<span class="counter">2</span><span>k</span>
							<p>Hours Worked</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="statistics mb0">
						<div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img">
							<img src="images/icons/customer-service.svg" alt="support" class="img-fluid" />
						</div>
						<div class="statnumb">
							<span>24/7</span>
							<p>Support Available</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End statistics-->

	<!--Start Portfolio-->
	<section class="portfolio-section pad-tb">
		<div class="container">
			<div class="row justify-content-center ">
				<div class="col-lg-8">
					<div class="common-heading">
						<span>Our Work</span>
						<h2 class="mb0">Our Latest Creative Work</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<% portfolioItems.slice(0, 4).forEach((item, index) => { %>
				  <div class="col-lg-6 col-sm-6 mt60 wow fadeInUp" data-wow-delay="<%= index % 2 === 0 ? '0.2s' : '0.8s' %>">
					<div class="isotope_item hover-scale">
					  <div class="item-image" data-tilt data-tilt-max="2" data-tilt-speed="1000">
						<a href="/our-work" target="_blank">
						  <img src="<%= item.portfolioImg %>" alt="<%= item.sortTitle %>" class="img-fluid" />
						</a>
					  </div>
					  <div class="item-info">
						<h4><a href="<%= item.link %>" target="_blank"><%= item.sortTitle %></a></h4>
					  </div>
					</div>
				  </div>
				<% }) %>

				<div class="-cta-btn mt70">
					<div class="free-cta-title v-center wow zoomInDown" data-wow-delay=".9s">
						<a href="/our-work" class="btn-main bg-btn2 lnk">View More<i class="fas fa-chevron-right fa-icon"></i><span
								class="circle"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Portfolio-->

	<!--Start Clients-->
	<section class="clients-section pad-tb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="common-heading">
						<span>Our happy customers</span>
						<h2>Some of our Clients</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="opl">
						<ul>
							<% clients.forEach(client => { %>
								<li class="wow fadeIn" data-wow-delay="<%= client.delay %>">
								  <div class="clients-logo">
									<img src="<%= client.image %>" alt="<%= client.alt %>" class="img-fluid" />
								  </div>
								</li>
							<% }) %>
						</ul>
					</div>
				</div>
			</div>
			<div class="-cta-btn mt70">
				<div class="free-cta-title v-center wow zoomInDown" data-wow-delay="1.2s">
					<p>We <span>Promise.</span> We <span>Deliver.</span></p>
					<a href="get-quote.html" class="btn-main bg-btn2 lnk">Let's Work Together<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
				</div>
			</div>
		</div>
	</section>
	<!--End Clients-->

	<!--Start work-category-->
	<section class="work-category pad-tb tilt3d">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 v-center">
					<div class="common-heading text-l">
						<span>Industries we work for</span>
						<h2>Helping Businesses in All Domains</h2>
						<p>Empowering businesses across diverse industries with innovative solutions tailored to their unique needs. From digital transformation to customer-centric services, we help turn ideas into impactful results.</p>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="work-card-set">
						<div class="icon-set wow fadeIn" data-wow-delay=".2s">
							<div class="work-card cd1">
								<div class="icon-bg"><img src="images/icons/icon-1.png" alt="Industries" /></div>
								<p>Social Networking</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay=".4s">
							<div class="work-card cd2">
								<div class="icon-bg"><img src="images/icons/icon-2.png" alt="Industries" /></div>
								<p>Digital Marketing</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay=".6s">
							<div class="work-card cd3">
								<div class="icon-bg"><img src="images/icons/icon-3.png" alt="Industries" /></div>
								<p>Ecommerce Development</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay=".8s">
							<div class="work-card cd4">
								<div class="icon-bg"><img src="images/icons/icon-4.png" alt="Industries" /></div>
								<p>Video Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="1s">
							<div class="work-card cd5">
								<div class="icon-bg"><img src="images/icons/icon-5.png" alt="Industries" /></div>
								<p>Banking Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="1.2s">
							<div class="work-card cd6">
								<div class="icon-bg"><img src="images/icons/icon-6.png" alt="Industries" /></div>
								<p>Enterprise Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="1.4s">
							<div class="work-card cd7">
								<div class="icon-bg"><img src="images/icons/icon-7.png" alt="Industries" /></div>
								<p>Education Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="1.6s">
							<div class="work-card cd8">
								<div class="icon-bg"><img src="images/icons/icon-8.png" alt="Industries" /></div>
								<p>Tour and Travels</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="1.8s">
							<div class="work-card cd9">
								<div class="icon-bg"><img src="images/icons/icon-9.png" alt="Industries" /></div>
								<p>Health Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="2s">
							<div class="work-card cd10">
								<div class="icon-bg"><img src="images/icons/icon-10.png" alt="Industries" /></div>
								<p>Event & Ticket</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="2.2s">
							<div class="work-card cd11">
								<div class="icon-bg"><img src="images/icons/icon-11.png" alt="Industries" /></div>
								<p>Restaurant Service</p>
							</div>
						</div>
						<div class="icon-set wow fadeIn" data-wow-delay="2.4s">
							<div class="work-card cd12">
								<div class="icon-bg"><img src="images/icons/icon-12.png" alt="Industries" /></div>
								<p>Business Consultant</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End  work-category-->

	<!--Start Testinomial-->
	<section class="testinomial-section pad-tb">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 v-center">
					<div class="common-heading text-l">
						<span>Clients Testimonial</span>
						<h2 class="mb0">What our clients say about our Company.</h2>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="owl-carousel testimonial-card-a pl25">
					  <% testimonials.forEach(testimonial => { %>
						<div class="testimonial-card">
						  <div class="t-text">
							<p><%= testimonial.text %></p>
						  </div>
						  <div class="client-thumbs mt30">
							<div class="media v-center">
							  <div class="user-image bdr-radius">
								<img src="<%= testimonial.image %>" alt="<%= testimonial.name %>" class="img-fluid" />
							  </div>
							  <div class="media-body user-info">
								<h5><%= testimonial.name %></h5>
								<p><%= testimonial.role %>, <small><%= testimonial.location %></small></p>
							  </div>
							</div>
						  </div>
						</div>
					  <% }) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Testinomial-->

	<!--Start Enquire Form-->
	<section class="enquire-form pad-tb">
		<div class="container">
			<div class="row light-bgs">
				<div class="col-lg-6">
					<div class="common-heading text-l">
						<span>Contact Now</span>
						<h2 class="mt0">Have Question? Write a Message</h2>
					</div>
					<!-- <div class="form-block">
						<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/embed/v2.js"></script>
						<script>
						hbspt.forms.create({
							portalId: "46121436",
							formId: "a4dda3ad-3513-478c-8b30-a551c782cb95"
						});
						</script>
					</div> -->
					<div class="form-block" id="hubspot-form"></div>
				</div>
				<div class="col-lg-6 v-center">
					<div class="enquire-image">
						<img src="images/about/contact.webp" alt="enquire" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Enquire Form-->
	
	<!--Start Location-->
	<section class="our-office pad-tb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="common-heading">
						<span>Our Locations</span>
						<h2>Our office</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center upset shape-numm">
				<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".2s">
					<div class="office-card">
						<div class="skyline-img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
							<img src="images/location/india.webp" alt="New York" class="img-fluid" />
						</div>
						<div class="office-text">
							<h4>Rajkot</h4>
							<p>S-305, South Building, Twinstar, 150 Feet Ring Road, Opp. Balaji Hall, Rajkot - 360004</p>
							<a href="javascript:void(0)" target="blank" class="btn-outline">View on Map <i class="fas fa-chevron-right fa-icon"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Location-->

	<!--Start Footer-->
	<%- include('partials/footer', { recent_blogs: recent_blogs }) %>
	<!--End Footer-->
	<!-- js placed at the end of the document so the pages load faster -->
	<script src="js/vendor/modernizr-3.5.0.min.js" defer></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js" defer></script>
	<script src="js/plugin.min.js"></script>
	<script src="js/preloader.js" defer></script>
	<script src="js/dark-mode.js" defer></script>
	<!--common script file-->
	<script src="js/main.min.js"></script>

	<script>
		window.addEventListener("load", function () {
		  const script = document.createElement("script");
		  script.src = "https://js.hsforms.net/forms/embed/v2.js";
		  script.charset = "utf-8";
		  script.onload = function () {
			hbspt.forms.create({
			  portalId: "46121436",
			  formId: "a4dda3ad-3513-478c-8b30-a551c782cb95",
			  target: "#hubspot-form",
			});
		  };
		  document.body.appendChild(script);
		});
	</script>
</body>

</html>
