<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include ('partials/head', {title, meta, og, twitter, schema, canonical}) %>

	<body>
		<!--Start Header -->
		<%- include ('partials/header') %>
			<!--End Header -->

			<!--Breadcrumb Area-->
			<section class="breadcrumb-area banner-3">
				<div class="text-block">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 v-center">
								<div class="bread-inner">
									<div class="bread-menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="#">Portfolio</a></li>
										</ul>
									</div>
									<div class="bread-title">
										<h2>Our Projects</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End Breadcrumb Area-->

			<!--Start Portfolio-->
			<section class="portfolio-page pad-tb">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="common-heading">
								<span>Our Work</span>
								<h2 class="mb0">Portfolio</h2>
							</div>
						</div>
					</div>

					<div class="row mt60">
						<% portfolioItems.forEach(item=> { %>
							<div class="col-lg-12 col-sm-12 wptbb">
								<div class="pbwide shadow <%= item.bgClass %>">
									<div class="portfolio-item-info-tt">
										<div class="logowide mb20">
											<img src="<%= item.logo %>" alt="logo" class="img-fluid">
										</div>
										<div class="widebloktag">
											<% item.tags.forEach(tag=> { %>
												<span>
													<%= tag %>
												</span>
												<% }) %>
										</div>
										<h3 class="mt30 mb30">
											<%= item.title %>
										</h3>
										<ul class="info-list-ul">
											<% item.technologies.forEach(tech=> { %>
												<li>
													<%= tech %>
												</li>
												<% }) %>
										</ul>
										<a href="<%= item.link %>" target="_blank" class="btn-outline lnk mt30">
											View Project <i class="fas fa-chevron-right fa-icon"></i><span
												class="circle"></span>
										</a>
										<a href="/portfolio/<%= item.slug %>" class="btn-outline lnk mt30">
											Project Details
											<i class="fas fa-chevron-right fa-icon"></i>
											<span class="circle"></span>
										</a>
									</div>
									<div class="portfolio-wide-image">
										<div class="img-wide-blocktt tilt-outer">
											<div class="innerwidedevice tilt-inner" data-tilt data-tilt-max="4"
												data-tilt-speed="1000" data-tilt-perspective="2000">
												<div class="desktopblock shadow1">
													<img src="<%= item.desktopImage %>" alt="Web development agency USA"
														class="img-fluid">
												</div>
												<div class="mobileblock shadow1">
													<img src="<%= item.mobileImage %>"
														alt="Web development company Canada" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
					</div>
				</div>
			</section>
			<!-- <section class="portfolio-page pad-tb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="common-heading">
						<span>Our Work</span>
						<h2 class="mb0">Portfolio</h2>
					</div>
				</div>
			</div>

			<div class="row mt60">

				<div class="col-lg-12 col-sm-12 wptbb">
					<div class="pbwide shadow bg-gradient1">
						<div class="portfolio-item-info-tt">
							<div class="logowide mb20"><img src="images/client/c-m-wise-portfolio.webp" alt="logo" class="img-fluid"></div>
							<div class="widebloktag"><span>Design</span> <span>Coding</span></div>
							<h3 class="mt30 mb30">M-Wise - Loyalty Program Managment</h3>
							<ul class="info-list-ul">
								<li>HTML, CSS, Bootstrap</li>
								<li>Angular</li>
								<li>React Js</li>
								<li>Next Js</li>
							</ul>
							<a href="https://m-wise.eu/" target="_blank" class="btn-outline lnk mt30">View Project <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
						<div class="portfolio-wide-image">
							<div class="img-wide-blocktt tilt-outer">
								<div class="innerwidedevice tilt-inner" data-tilt data-tilt-max="4"
									data-tilt-speed="1000" data-tilt-perspective="2000">
									<div class="desktopblock shadow1"><img src="images/portfolio/portfolio-wide-1.webp" alt="img" class="img-fluid"> </div>
									<div class="mobileblock shadow1"><img src="images/portfolio/portfolio-wide-1a.webp" alt="img" class="img-fluid"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 col-sm-12 wptbb">
					<div class="pbwide shadow bg-gradient2">
						<div class="portfolio-item-info-tt">
							<div class="logowide mb20"><img src="images/client/c-m-greeteat-portfolio.webp" alt="logo" class="img-fluid"></div>
							<div class="widebloktag"><span>Design</span> <span>Coding</span> </div>
							<h3 class="mt30 mb30">Greeteat - Online Meeting</h3>
							<ul class="info-list-ul">
								<li>HTML, CSS, Bootstrap</li>
								<li>React JS</li>
								<li>Node JS</li>
							</ul>
							<a href="https://greeteat.com/" target="_blank" class="btn-outline lnk mt30">View Project <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
						<div class="portfolio-wide-image">
							<div class="img-wide-blocktt tilt-outer">
								<div class="innerwidedevice tilt-inner" data-tilt data-tilt-max="4" data-tilt-speed="1000" data-tilt-perspective="2000">
									<div class="desktopblock shadow1"><img src="images/portfolio/portfolio-wide-2.webp" alt="img" class="img-fluid"> </div>
									<div class="mobileblock shadow1"><img src="images/portfolio/portfolio-wide-2a.webp" alt="img" class="img-fluid"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 col-sm-12 wptbb">
					<div class="pbwide shadow bg-gradient3">
						<div class="portfolio-item-info-tt">
							<div class="logowide mb20"><img src="images/client/c-m-perfume-online-portfolio.webp" alt="logo" class="img-fluid"></div>
							<div class="widebloktag"><span>Design</span> <span>Coding</span> </div>
							<h3 class="mt30 mb30">Perfume Online - E commerce</h3>
							<ul class="info-list-ul">
								<li>Shopify</li>
							</ul>
							<a href="https://perfumeonline.ca/" target="_blank" class="btn-outline lnk mt30">View Project <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
						<div class="portfolio-wide-image">
							<div class="img-wide-blocktt tilt-outer">
								<div class="innerwidedevice tilt-inner" data-tilt data-tilt-max="4"
									data-tilt-speed="1000" data-tilt-perspective="2000">
									<div class="desktopblock shadow1"><img src="images/portfolio/portfolio-wide-3.webp" alt="img" class="img-fluid"> </div>
									<div class="mobileblock shadow1"><img src="images/portfolio/portfolio-wide-3a.webp" alt="img" class="img-fluid"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 col-sm-12 wptbb">
					<div class="pbwide shadow bg-gradient4">
						<div class="portfolio-item-info-tt">
							<div class="logowide mb20"><img src="images/client/c-m-lumity-portfolio.webp" alt="logo"
									class="img-fluid"></div>
							<div class="widebloktag"><span>Design</span> <span>Coding</span> </div>
							<h3 class="mt30 mb30">Lumity - Landing Page</h3>
							<ul class="info-list-ul">
								<li>HTML, CSS, Bootstrap</li>
								<li>PHP</li>
								<li>Laravel</li>
							</ul>
							<a href="https://lumity.com/" target="_blank" class="btn-outline lnk mt30">View Project <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
						</div>
						<div class="portfolio-wide-image">
							<div class="img-wide-blocktt tilt-outer">
								<div class="innerwidedevice tilt-inner" data-tilt data-tilt-max="4"
									data-tilt-speed="1000" data-tilt-perspective="2000">
									<div class="desktopblock shadow1"><img src="images/portfolio/portfolio-wide-4.webp" alt="img" class="img-fluid"> </div>
									<div class="mobileblock shadow1"><img src="images/portfolio/portfolio-wide-4a.webp" alt="img" class="img-fluid"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
	</section> -->
			<!--End Portfolio-->

			<!--Start Footer-->
			<%- include('partials/footer', { recent_blogs: recent_blogs }) %>
				<!--End Footer-->

				<!-- js placed at the end of the document so the pages load faster -->
				<script src="js/vendor/modernizr-3.5.0.min.js"></script>
				<script src="js/jquery.min.js"></script>
				<script src="js/bootstrap.bundle.min.js"></script>
				<script src="js/plugin.min.js"></script>
				<script src="js/dark-mode.js"></script>
				<!--common script file-->
				<script src="js/main.js"></script>
				<!-- <script>
		const fetchRecentBlogs = async () => {
			const response = await fetch('https://api-dadwordit.onrender.com/api/blogs/recent', {});
			const data = await response.json();
	
			// append blog on footer
			const bE = document.getElementsByClassName('footer-blog-');
			
			data.data.forEach(b => {
				const date = new Date(b.created);
				const options = { 
					year: 'numeric', 
					month: 'long', 
					day: 'numeric'
				};
				const humanReadableDate = date.toLocaleDateString('en-US', options);
	
				const element = `<div class="single-blog-">
					<div class="post-thumb"><a href="#"><img src="${b.featuredImage}" alt="blog"></a></div>
					<div class="content">
						<p class="post-meta"><span class="post-date"><i class="far fa-clock"></i>${humanReadableDate}</span></p>
						<h4 class="title"><a href="blog.html">${b.name}</a></h4>
					</div>
				</div>`;
	
				// Loop through all elements in bE and append the new element to each one
				Array.from(bE).forEach(container => {
					container.innerHTML += element;
				});
			});
		};
		fetchRecentBlogs() -->
				</script>
	</body>

</html>